*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
  padding: 0.5rem 0;
}

label {
  font-size: 1.2rem;
  padding: 0.5rem 0;
  text-align: center;
}

input {
    margin: 0.7rem auto;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
}
button{
    max-width: 400px;
    padding: 0.8rem 0;
    margin: 0.5rem;

}

form{
  padding-top: 20px;
}
.container {
  max-width: 900px;
  margin: 10px auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  
}

.total__salary__bg{
  display: flex;
  flex-direction: column;
}

.expense{
  display: flex;
  flex-direction: column;
}

#total-salary-display{
  text-align: center;
  font-size: 1.3rem;
}

#set-total-salary-button{
  background-color: rgb(38, 0, 255);
  border: none;
  border-radius: 20px;
  color: #f2f2f2;
}
